@font-face {
  font-family: 'monogram';
  src: url('/public/monogram.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-family: "monogram", monospace;
  font-size: 2rem;
  overflow: hidden;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#startScreen {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}
#startScreen img {
  min-width: 1100px;
}
#animatedPage {
  position: absolute;
  z-index: 100;
}
#animatedPage img {
  min-width: unset;
  width: 461px;
}
#startPage {
  position: absolute;
}
#startPage img {
  min-width: unset;
  width: 700px;
}
#optionButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  height: 753px;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#headerContainer {
  position: absolute;
  top: 80px;
  width: 500px;
  height: 200px;
  padding: 80px;
}
#headerContainer h1 {
  margin: 0;
  z-index: 30;
  top: 78px;
  left: 110px;
  position: absolute;
  font-size: 40px;
}
#headerContainer .header-banner {
  width: 500px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 29;
}
#start {
  background-image: url('/play-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 50px;
  border: unset;
  background-color: transparent;
  cursor: pointer;
}
#start:hover, #start:focus {
  background-image: url('/play-selected.png');
}
#gitHub, #linkedIn {
  display: flex;
  align-items: center;
  gap: 20px;
}
#gitHub img, #linkedIn img {
  min-width: unset;
  width: 50px;
}
#gitHub a, #linkedIn a {
  color: black;
  text-decoration: none;
}
#gitHub a:hover, #linkedIn a:hover {
  text-decoration: underline;
  text-decoration-color: #b02a36;
}
#ui {
  display: none;
}
#textbox {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 2vh;
  min-height: 10vh;
  background-color: #ECDDC0;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  word-spacing: 0.2rem;
  filter: drop-shadow(0 0 0.75rem rgb(112,112,112));
  z-index: 30;
}
#textbox .bl {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-user-drag: none;
}
#textbox .br {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-user-drag: none;
}
#textbox .tl {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-drag: none;
}
#textbox .tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-drag: none;
}
.ui-text {
  margin: 0;
  user-select: none;
  max-height: 300px;
  overflow-y: scroll;
}
.ui-close-btn {
  font-family: 'monogram', monospace;
  border-style: none;
  border-radius: 3px;
  padding: 1rem;
  font-size: inherit;
}
.ui-close-btn:hover {
  background-color: rgb(216, 214, 214);
}
.btn-container {
  align-self: flex-end;
  margin-top: 1rem;
}
.player-hud {
  background-image: url('/character-card.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 100vw;
  max-width: 550px;
  height: 324px;
  left: 0px;
  top: -45px;
  display: flex;
  user-select: none;
}
.player-hud h2 {
  margin: 0;
  font-size: 50px;
}
.player-hud p {
  margin: 0;
}
#weather {
  position: absolute;
  top: 77px;
  z-index: 20;
  width: 163px;
  height: 163px;
  left: 417px;
  -webkit-user-drag: none;
}
.controls {
  background-image: url('/controls.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 420px;
  height: 200px;
  top: 260px;
  right: -100px;
}
.inventory-container {
  width: 100vw;
  height: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  overflow: hidden;
}
.inventory {
  position: absolute;
  width: 1000px;
  height: auto;
  user-select: none;
  object-fit: cover;
  -webkit-user-drag: none;
}
.button-container {
  position: absolute;
  width: 1000px;
  height: 243px;
}
.inventory-buttons {
  content: "";
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: unset;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 103px;
}
.inventory-buttons:hover, .inventory-buttons:focus {
  background-image: url('/item-highlighter.png');
}
#resumeButton {
  left: 360px;
}
#candyButton {
  left: 290px;
}
#tabletButton {
  left: 220px;
}
#projectButton {
  left: 569px;
}
#ironButton {
  left: 639px;
}
#featherButton {
  left: 709px;
}
.note {
  position: absolute;
  right: 28%;
  top: 35px;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  user-select: none;
  font-size: 1.6rem;
}
.music-buttons {
  position: absolute;
  right: 28%;
  top: 90px;
}
.music-buttons button {
  font-family: "monogram", monospace;
  font-size: 20px;
  display: none;
}
.music-buttons .active {
  display: block;
}